<% if @work.id %>
  <h3>Edit this <%= @work.category %></h3>
<% else %>
  <h2>Add a new work</h2>
<% end %>

<section>
  <%= form_for @work do |f| %>

  <div class="form-group">
  <%= f.label :category %>
  <%= f.select(:category, Work::WORK, {}, { :class => 'form-control' }) %>
  </div>

  <div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :creator %>
  <%= f.text_field :creator, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year, class: 'form-control'%>
  </div>

  <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control'%>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>

  <% end %>

</section>
