<h2>List of Works</h2>
<% category = ["movie", "book", "album"] %>
<% category.each do |cat| %>
<section>

  <h4><%= cat.capitalize %>s</h4>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </section>
    <% category.each do |cat| %>
    <section>
      <% @works.find_all{ |w| w.category == cat }.each do |work| %>
      <section class = "media-table">
        <td><%= work.votes.count %></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", new_vote_path(work.id), method: :post, class: "button upvote" %></td>
      <% end%>
      </section>
<% end %>
