<body>
  <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/">View top media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works">View all media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <h6><%= link_to "Add a new work", new_work_path%></h6>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/login">Log In</a>
        </li>

      </ul>
    </nav>
  </header>


  <main>
    <section class="spotlight">
      <h2 class="spotlight__header">
        <span class="spotlight__header--prefix">Media Spotlight</span>
        <a class="spotlight__link-to" href="/works/32">Harry Potter and the Gorblet of Fire</a> by ke$ha
      </h2>
      <p class="spotlight__description">
        12 votes - SNAPE KILLS DUMBLEDORP
      </p>
   </section>

   <hr class="root__hr" />

  <section class="top-ten__container">
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Movies
      </h2>
      <ul class="list-group top-ten__list">
        <% @movies.each do |movie| %>
            <li class="list-group-item">
              <h4>
                <h2><%= link_to "#{movie.title}", work_path(movie.id) %></h2>
              </h4>
              <p>by <%= movie.creator %></p>
            </li>
        <% end %>
      </ul>
    </section>

    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Albums
      </h2>
      <ul class="list-group top-ten__list">
        <% @albums.each do |album| %>
            <li class="list-group-item">
              <h4>
                <h2><%= link_to "#{album.title}", work_path(album.id) %></h2>
              </h4>
              <p>by <%= album.creator %></p>
            </li>
       <% end %>
     </ul>
   </section>

   <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Books
      </h2>
      <ul class="list-group top-ten__list">
      <% @books.each do |book| %>
          <li class="list-group-item">
            <h4>
              <h2><%= link_to "#{book.title}", work_path(book.id) %></h2>
            </h4>
            <p>by <%= book.creator %></p>
          </li>
      <% end %>
    </ul>
  </section>
</section>

</main>
</body>
