<main>
    <section>
  <h2><%= @work.title %></h2>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
  <section>
    <a class="btn btn-primary" href="/">Back to media ranks</a>
    <a class="btn btn-primary" href="/works/198/edit">Edit</a>
    <a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/198/upvote">Upvote</a>
    <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/198">Delete</a>
  </section>
</section>

<section class="works-votes__container">
  <h3 class="works-votes__header"><%= @work.votes.count %> Votes for this Album</h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/users/#{@work.id}"><%=@work.title%></a></td>
        <td><%=@work.created_at%></td>
      </li>
    </tbody>
</section>
</main>
