<article class="media-details">
  <h3><%= @work.title %></h3>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
  <section>
    <%= link_to "Back to media tracks", root_path, class: "button" %>
    <%= link_to "Edit", edit_work_path, class: "button" %>
    <%= link_to "Upvote", new_vote_path(@work), method: :post, class: "button" %>
    <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?"}, class: "alert button" %>
  </section>
</article>

<article class="voting-users">
  <h3><%= @work.votes.count %> Votes for this <%= @work.category.name.capitalize %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @work.votes.each do |v| %>
      <tr>
        <td><%= link_to v.user.username, user_path(v.user) %></td>
        <td><%= v.vote_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
