<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%#= favicon_link_tag asset_path('owl.ico'), :rel => 'icon', :type => "image/x-icon" %>
  <title>Media Ranker 2.0</title>

  <%= stylesheet_link_tag    "application", "https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One", media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


  <header class="page-header row">
    <h2><%= link_to("Media Ranker", root_path) %><small>Ranking the Best of Everything</small></h2>
    <nav>
      <%= link_to("View top media", root_path, class: "button") %>
      <%= link_to("View all media", works_path, class: "button") %>
      <%= link_to("Add a new work", new_work_path, class: "button") %>
      <%= link_to("View all users", users_path, class: "button") %>
      <div class="float-right">
        <% if session[:user_id] %>
        <% @user = User.find(session[:user_id])%>
        <%= link_to("Logged in as #{@user.username}", user_path(@user.id), class: "button")%>
        <%= link_to("Logout", logout_path, method: :delete, class: "button") %>
        <% else %>
        <%= link_to("Login", login_path, class: "button float-right") %>
        <a class="btn btn-primary" href="/login">Log In</a>
        <% end %>
      </div>
    </nav>
  </header>

  <main class="row">


    <% flash.each do |type, message| %>
      <section class="row status <%= type %>">
        <h3><%= message %></h3>
        </section>
    <% end %>


    <%= yield %>
  </main>

  <% if model.errors.any? %>
    <ul class="errors">
      <% model.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <strong>
              <%= column.capitalize %>
            </strong>
            <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

</body>
</html>
